# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# Development environment
.env
.venv
.vscode/
.idea/
*.swp
*.swo

# SQLite database
instance/
*.db
*.sqlite3

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Uploaded files
uploads/

# Redis dump
dump.rdb

# Celery
celerybeat-schedule
celerybeat.pid 

# Digest files
digest.txt
**/digest.txt

.pytest_cache/

output.txt

run_azure_img.sh

template.json